.viewport {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  min-width: 300px;
  max-width: 450px;
  padding: 40px 50px;
  background-color: var(--white);
  border-radius: 3px;
}

#text {
  font-size: 27.2px;
  display: inline;
}

.fa-quote-left, .fa-quote-right {
  display: inline-block;
  vertical-align: middle;
  margin-top: -14.4px;
  font-size: 16px;
  color: black;
}

#author {
  text-align: right;
  padding: 20px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  height: 48px;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

.fa-brands {
  font-size: 40px;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white);
  border: none;
  border-radius: 2px;
}

.fa-brands:hover, button:hover {
  opacity: 0.5;
}

@media ( width < 450px ) {
  #quote-box {
    padding: 10px 20px;
  }
  #text {
    font-size: 20px;
  }
  .fa-quote-left, .fa-quote-right {
    margin-top: -8px;
    font-size: 11.8px;
  }
  #author {
    font-size: 15px;
    padding: 10px 0;
  }
  .buttons {
    padding-top: 4px;
    height: 32px;
  }
  a {
    margin-right: 3px;
  }
  .fa-brands {
    font-size: 30px;
  }
}
